:root {
    --dark: #05050a;
    --panel: #0d1117;
    --accent: #e94560;
    --terminal: #00ff41; /* Matrix Green */
    --glow: rgba(233, 69, 96, 0.2);
}

body { 
    background: var(--dark); 
    color: #e0e0e0; 
    font-family: 'Courier New', Courier, monospace; 
    margin: 0;
    line-height: 1.6;
}

/* GLOBAL NAVBAR */
nav { 
    background: #000; 
    padding: 20px; 
    border-bottom: 1px solid var(--accent); 
    display: flex;
    justify-content: center;
    gap: 30px;
    box-shadow: 0 0 15px var(--glow);
}

nav a { 
    color: var(--accent); 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 0.9rem;
    letter-spacing: 2px;
}

nav a:hover { text-shadow: 0 0 10px var(--accent); }

/* CONTAINERS */
.container { 
    max-width: 850px; 
    margin: 50px auto; 
    padding: 30px; 
    background: var(--panel); 
    border: 1px solid #333;
    position: relative;
}

.container::before {
    content: "SYS_STATUS: ACTIVE";
    position: absolute;
    top: -10px;
    left: 20px;
    background: var(--dark);
    padding: 0 10px;
    color: var(--terminal);
    font-size: 0.7rem;
}

h1 { color: var(--accent); font-size: 1.5rem; text-transform: uppercase; margin-bottom: 30px; }

/* SYSTEM INPUTS */
.card { 
    background: rgba(0,0,0,0.3); 
    padding: 20px; 
    border: 1px solid #222; 
    margin-bottom: 20px;
}

label { display: block; color: var(--terminal); font-size: 0.75rem; margin-bottom: 5px; }

input, select { 
    width: 100%; 
    padding: 12px; 
    margin-bottom: 15px; 
    background: #000; 
    border: 1px solid var(--accent); 
    color: var(--terminal); 
    outline: none;
    box-sizing: border-box;
}

button { 
    width: 100%; 
    padding: 15px; 
    background: transparent; 
    color: var(--accent); 
    border: 1px solid var(--accent); 
    cursor: pointer; 
    font-weight: bold;
    letter-spacing: 2px;
}

button:hover { background: var(--accent); color: #fff; }

.status-text { color: var(--terminal); font-size: 0.8rem; }

.title { 
    font-size: 2.0rem; 
    margin-bottom: 10px; 
    color: var(--accent); 
    text-transform: uppercase;
    font-family: "times new roman", serif;
}

.mitansh-ud{
    font-size: xx-small;
    color: gray;
    position: fixed;
}
